<div class="panel">
    <h2>Juego: El Señor de los Anillos</h2>

    <div class="acciones">
        <button pButton (click)="empezar()" [disabled]="cargando">
            Empezar partida
        </button>

        <button pButton (click)="reiniciarClick()" [disabled]="cargando">
            Reiniciar
        </button>
    </div>

    <div class="stats">
        <span>Racha: {{ racha }}/5</span>
        <span>Correctas: {{ correctas }}</span>
        <span>Respondidas: {{ respondidas }}</span>
        <span>Usadas: {{ usadas.length }}/30</span>
    </div>

    @if (error) {
    <div class="error">{{ error }}</div>
    }

    @if (estado === 'jugando' && !pregunta && !error) {
    <div>
        Cargando pregunta...
    </div>
    }

    @if (pregunta) {
    <div class="pregunta-box">
        <h3>{{ pregunta.pregunta }}</h3>

        <div class="respuestas">
            <button pButton (click)="responder(1)" [disabled]="cargando">
                {{ pregunta.respuesta1 }}
            </button>

            <button pButton (click)="responder(2)" [disabled]="cargando">
                {{ pregunta.respuesta2 }}
            </button>

            <button pButton (click)="responder(3)" [disabled]="cargando">
                {{ pregunta.respuesta3 }}
            </button>

            <button pButton (click)="responder(4)" [disabled]="cargando">
                {{ pregunta.respuesta4 }}
            </button>
        </div>
    </div>
    }

    @if (estado === 'ganada') {
    <div class="ok">GG EZ Noobs</div>
    }

    @if (estado === 'perdida') {
    <div class="ko">Game Over</div>
    }

</div>